In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import tweepy
import time
import pandas as pd
import json

In [3]:
url = "https://mars.nasa.gov/news/"

In [4]:
#Request module to retrieve page
html = requests.get(url)

In [5]:
#Create BS object to parse with html.parser
soup = BeautifulSoup(html.text, 'html.parser')

In [6]:
# Retrieve title
news_title_section = soup.find('div', 'content_title', 'a').text
news_p_section = soup.find('div', 'rollover_description_inner').text

In [7]:
#Print Results

print(news_title_section)
print(news_p_section)

Opportunity Hunkers Down During Dust Storm



As of Tuesday morning, June 19, the Martian dust storm had grown in size and was officially a "planet-encircling" (or "global") dust event.

In [8]:
url_images = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [9]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path)
browser.visit(url_images)

# Click the 'Next' button on each page
browser.click_link_by_partial_text('FULL IMAGE')

In [10]:
for x in range(5):
    # HTML object
    html_image = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html_image, 'html.parser')
    link = "https://www.jpl.nasa.gov"
    feat_img = soup.find('img', class_='fancybox-image')['src']
    featured_img_url = link + feat_img
featured_img_url

import requests
import shutil
response = requests.get(featured_img_url, stream=True)
with open('img.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
    
# Display the image with IPython.display
from IPython.display import Image
Image(url='img.jpg')

In [11]:
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [12]:
html_weather = browser.html
soup = BeautifulSoup(html_weather, "html.parser")
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(f"mars_weather = {mars_weather}")

mars_weather = L-2 years. #Mars2020

## Mars Facts

In [13]:
url_facts = "https://space-facts.com/mars/"

In [14]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [16]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [17]:
url_hemisphere = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemisphere)

In [18]:
hemi_html = browser.html                        
hemi_soup = BeautifulSoup(hemi_html, 'html.parser')

In [19]:
hemisphere_image_urls = []                                          

products = hemi_soup.find('div', class_='result-list')              
hemispheres = products.find_all('div', class_='item')           

for hemisphere in hemispheres:                              
    title = hemisphere.find('div', class_='description')
    
    title_text = title.a.text                                           
    title_text = title_text.replace(' Enhanced', '')
    browser.click_link_by_partial_text(title_text)      
    
    hemi_html = browser.html                            
    hemi_soup = BeautifulSoup(hemi_html, 'html.parser')                 
    
    image = hemi_soup.find('div', class_='downloads').find('ul').find('li')
    img_url = image.a['href']
    
    hemisphere_image_urls.append({'title': title_text, 'img_url': img_url})
    
    browser.click_link_by_partial_text('Back')
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere'}]

In [ ]:
hemisphere_image_urls.append(cerberus)
hemisphere_image_urls.append(cerberus)
hemisphere_image_urls.append(cerberus)
hemisphere_image_urls.append(cerberus)

In [ ]:
browser.quit()